@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff');,
    src: url('../fonts/gilroylight.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff');
    src: url('../fonts/gilroyextrabold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff');
    src: url('../fonts/opensans.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensanslight.woff');
    src: url('../fonts/opensanslight.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 0;
  color: #464646;
}

/* Базовые стили */

.logo-img {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-bottom: 13px;
}

.logo-img:hover {
  opacity: .6;
}

.logo-img:active {
  opacity: .3;
}

.link {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-weight: 100;
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  color: #000;
}

.link:hover {
  opacity: .6;
}

.link:active {
  opacity: .3;
}

.title {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  font-weight: 900;
  color: #000;
}

.btn {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 900;
  padding: 12px 39px 12px 43px;
  letter-spacing: .2em;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, rgba(0, 0, 0, 0.0)), color-stop(40%, #F0C52E), color-stop(60%, #F0C52E), color-stop(60%, rgba(0, 0, 0, 0.0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.0) 40%, #F0C52E 40%, #F0C52E 60%, rgba(0, 0, 0, 0.0) 60%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  cursor: pointer;
}

.btn:hover {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 900;
  padding: 12px 39px 12px 43px;
  letter-spacing: .2em;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  background: #F0C52E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn:active {
  color: rgba(0,0,0,.3);
}

.radio {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  color: #000;
  line-height: 15px;
}

.radio-input {
  display: none;
}

.radio-label {
  cursor: pointer;
}

.checkbox-input {
  display: none;
}

/* Альтернативные стили (например, футер) */

.link-alt {

}


.container {
  width: 1160px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.headers-wrapper {
  background-color: rgba(240,197,46,.5);
  padding: 0 60px;
  margin-top: 40px;
  box-sizing: border-box;
}

/* Первый хэдер */
.user-block {
  display: block;
  width: 1040px;
  margin-bottom: 32px;
}

.user-block-form {
  display: inline-block;
  position: relative;
  margin-right: 88px;
  margin-left: 38px;
}

.user-block-form::before {
  content: "";
  height: 16px;
  width: 16px;
  left: -35px;
  top: 3px;
  position: absolute;
  background-image: url(../img/icons/search.png);
}

.search-input {
  display: inline-block;
  width: 440px;
  padding-bottom: 14px;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  font-size: 15px;
  line-height: 15px;
  font-weight: 100;
  color: rgba(0, 0, 0, .3);
}

.search-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.search-input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, .6);
}

.search-input:focus + .search-btn{
  display: inline-block;
}

.search-btn {
  display: none;
  position: absolute;
  right: 0;
  top: -17px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: #000;
  text-decoration: none;
  padding: 16px 15px;
  border: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-btn:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-input:focus {
  border-bottom: 2px solid black;
}

.search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu {
  display: inline-block;
  vertical-align: top;
  max-width: 469px;
}

.user-menu .link {
  position: relative;
  margin-right: 60px;
}

.user-menu .link:nth-child(1) {
  margin-right: 238px;
}

.login:hover {
  opacity: .6;
}

.login:active {
  opacity: .3;
}

.login::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/user.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: -25px;
  top: 4px;
}

.user-menu .link:nth-child(2) {
  margin-right: 60px;
}

.compare:hover {
  opacity: .6;
}

.compare:active {
  opacity: .3;
}

.compare::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/compare.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: -19px;
  top: 6px;
}

.user-menu .link:nth-child(3) {
  margin-right: 0;
}

.busket:hover {
  opacity: .6;
}

.busket:active {
  opacity: .3;
}

.busket::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/cart.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: -21px;
  top: 4px;
}
/* Навигация */

.main-navigation {
  padding-bottom: 58px;
  position: relative;
}

.main-nav-link:hover {
  opacity: .6;
}

.main-nav-link:active {
  opacity: .3;
}

.catalog-menu {
  display: inline-block;
  position: relative;
  margin-right: 318px;
}

.catalog-menu::after {
  content: "";
  position: absolute;
  background-image: url(../img/icons/plus.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  right: -27px;
  top: 4px;
}

.catalog-menu:hover + .catalog-menu-opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-menu-opened {
  position: absolute;
  display: none;
  top: 52px;
  left: -60px;
  padding-left: 60px;
  padding-bottom: 22px;
  z-index: 100;
  background-color: #F7E296;
  width: 1100px;
}

.cameras-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-start;
          flex-direction: flex-start;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-direction: column;
      flex-direction: column;
}

.watches-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 62px;
}

.copters-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 77px;
}

.catalog-menu-opened .link {
  height: 35px;
}

.delivery-menu {
  margin-right: 30px;
}

.assurance-menu {
  margin-right: 100px;
}

.info a {
  display: inline-block;
}

.info a:first-child {
  margin-right: 35px;
}

.catalog-menu,
.delivery-menu,
.assurance-menu,
.contacts-menu {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: #000;
  letter-spacing: .2em;
}

.main-navigation a:visited {
  color: #000;
}

/* Слайдер */

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 90px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(240,197,46,0.5)),color-stop(21%, rgba(240,197,46,0.5)),color-stop(15%, rgba(248,226,151,1)),color-stop(15%, rgba(255,255,255,1)),to(rgba(255,255,255,1)));
  background: linear-gradient(to bottom, rgba(240,197,46,0.5) 0%,rgba(240,197,46,0.5) 21%,rgba(248,226,151,1) 15%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 100%);
}

.toggle {
  opacity: .3;
  cursor: pointer;
}

.toggle:hover {
  opacity: .4;
}

.toggle:active {
  opacity: 1;
}

.slider input {
  display: none;
}

.slider-img {
  margin-left: 90px;
  margin-top: -4px;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper::before {
  content: "";
  position: absolute;
  right: 460px;
  top: 32px;
  width: 100px;
  height: 7px;
  background-color: #fff;
  z-index: 10;
}

.slider-desc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 480px;
  margin-left: 127px;
  padding-top: 32px;
}

.first-slide::before {
  position: absolute;
  content: "01";
  font-size: 179px;
  font-family: Gilroy, sans-serif;
  font-weight: 900;
  color: #fff;
  right: 49px;
  top: -40px;
}

.second-slide {
  display: none;
}

.third-slide {
  display: none;
}

.slider-text {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  color: #464646;
  font-weight: 100;
  margin-top: -20px;
  margin-bottom: 40px;
  line-height: 30px;
}

.slider-heading {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  font-weight: 900;
  color: #000;
  margin-top: 42px;
  margin-bottom: 36px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 0;
  width: 424px;
  margin-top: 50px;
}

.features-heading {
  display: inline-block;
  vertical-align: top;
  font-size: 36px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 100;
  margin-bottom: 0;
}

.features-desc {
  font-size: 13px;
  font-weight: 100;
}

.more-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 76px;
}

.toggle {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  border: 3px solid black;
}

/* Категории */

.categories {
  margin-bottom: 70px;
}

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.categories-item {
  position: relative;
}

.categories-pic {
  position: absolute;
  width: auto;
  height: auto;
  padding: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.item-image-wrapper {
  width: 160px;
  height: 160px;
  background-color: rgba(240,197,46,.5);
  position: relative;
}

.categories-item:hover .item-image-wrapper {
  background-color: rgba(240,197,46, 1);
}

.categories-item:active .categories-pic {
  opacity: .3;
}

.categories-item:active .categories-heading {
  opacity: .3;
}

.categories-item:nth-child(2) .categories-pic {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%,-37px);
          transform: translate(-50%,-37px);
}

.item-text-wrapper {
  width: 160px;
}

.categories-list a {
  text-decoration: none;
}

.categories-heading {
  margin-top: 30px;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  color: #000;
}

/* Услуги */

.services {
  background-color: #e5e5e5;
  font-size: 15px;
}

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 167px auto 94px;
  height: 288px;
}

.services-heading {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  color: #000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
  margin: 0;
}

.services-names {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
  font-family: Gilroy, sans-serif;
  letter-spacing: .2em;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  padding: 0 20px 0 0;
  -webkit-transform: translateY(-14%);
          transform: translateY(-14%);
  font-size: 18px;
}

.service-name {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0.0)), color-stop(40%, #F0C52E), color-stop(55%, #F0C52E), color-stop(55%, rgba(0, 0, 0, 0.0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 40%, #F0C52E 40%, #F0C52E 55%, rgba(0, 0, 0, 0.0) 55%);
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  width: 160px;
}

.service-name:hover {
  background: #F0C52E;
}

.services-names::after {
  content: "";
  left: 277px;
  top: -79px;
  position: absolute;
  width: 7px;
  height: 319px;
  background-color: #000;
}
.service-name:hover {

}

.service-name.active {
  color: #f7e184;
  background: #000;
  width: 277px;
  text-align: left;
  padding-left: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services-text {
  width: 437px;
  margin-left: 104px;
}

.info-desc {
  margin: 0;
  line-height: 30px;
}

.services-desc {
  display: none;
}

input.service {
  display: none;
}

input:checked + .services-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Клиенты */

.clients {
  margin-bottom: 100px;
}

.clients-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Информация */
.contact-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-info p {
  font-size: 15px;
  line-height: 30px;
}

.companies {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  line-height: 40px;
  list-style-type: none;
  margin-bottom: 63px;
  padding-left: 35px;
}

.companies-item {
  position: relative;
}

.companies-item::before {
  content: "";
  width: 4px;
  height: 4px;
  border: 3px solid black;
  border-radius: 50%;
  position: absolute;
  left: -35px;
  top: 15px;
  opacity: .3;
}

.companies-btn {
  padding-left: 23px;
  padding-right: 19px;
}

.companies-btn:hover {
  padding-left: 23px;
  padding-right: 19px;
}

.about-us {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 480px;
}

.about-us::before {
  content: "";
  position: absolute;
  top: -9px;
  width: 80px;
  height: 7px;
  background-color: #000;
}


.pick-up {
  position: relative;
  width: 560px;
  margin-right: 2px;
}

.about-us p:nth-child(3) {
  margin-top: 28px;
  margin-bottom: 36px;
 }

.pick-up::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 2px;
  width: 80px;
  height: 7px;
  background-color: #000;
}

.map {
  margin-top: 37px;
  margin-bottom: 74px;
}

.second-heading {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  font-weight: 900;
  color: #000;
}

.second-heading::before {
  content:"";
  width: 80px;
  height: 7px;
  color: #000;
}


.main-footer {
  background-color: #464646;
  padding-top: 64px;
  margin-top: 91px;
  height: 259px;
}

.footer-nav-btn:hover {
  opacity: .6;
}

.footer-nav-btn:active {
  opacity: .3;
}

.first-row {
  margin-bottom: 33px;
}

.logo-alt .logo-alt-link {
  display: inline-block;
  font-family: 'Gilroy', sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #ffc600;
  line-height: 40px;
}

.footer-menu {
    display: inline-block;
    vertical-align: top;
    margin-left: 693px;
    padding-top: 4px;
}

.login-footer {
  position: relative;
}

.login-footer::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/user-alt.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: -26px;
  top: 4px;
}

.compare-footer {
  position: relative;
}

.compare-footer::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/compare-alt.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: -19px;
  top: 6px;
}

.busket-footer {
  position: relative;
}

.busket-footer::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/cart-alt.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: -22px;
  top: 4px;
}

footer a {
  display: inline-block;
  text-decoration: none;
  font-weight: 100;
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  color: #fff;
}

.footer-menu a:nth-child(1) {
  margin-right: 60px;
}

.footer-menu a:nth-child(2) {
  margin-right: 61px;
}

.second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 428px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 37px;
}

.footer-navigation a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: #fff;
  letter-spacing: .2em;
}

.third-row {
  margin-top: 62px;
  position: relative;
}

.social {
  display: inline-block;
  margin-left: 520px;
  margin-right: 485px;
}

.third-row::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  top: 16px;
}

.academy-logo {
  display: inline-block;
}

.write-us.modal {
  display: block;
}

.modal-wrapper {
  background-color: #fff;
  width: 960px;
  height: 553px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
          box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}

.modal-input-wrapper {
  display: inline-block;
}

.modal-input-wrapper:nth-child(2) {
  margin-left: 34px;
}

.textarea-wrapper {
  margin-top: 28px
}

.modal-textarea {
  border: 0;
  width: 760px;
  height: 156px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  padding-top: 18px;
  background-color: #f2f2f2;
  margin-bottom: 55px;
}

.modal-input {
  border: 0;
  background-color: #f2f2f2;
  width: 340px;
  height: 50px;
  vertical-align: center;
  padding-left: 20px;
}

.modal-input-label {
  display: block;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  margin-bottom: 13px;
  color: #000;
}

/* catalog.html */

.breadcrumbs {
  width: 392px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-top: 20px;
}

.content {
  display: block;
}

.sidebar {
  display: inline-block;
  vertical-align: top;
  height: 1283px;
  font-size: 15px;
  width: 28%;
  background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), color-stop(5.8%, #dbdbdb), color-stop(5.8%, #ebebeb), to(#ebebeb));
  background: linear-gradient(180deg, #dbdbdb 0%, #dbdbdb 5.8%, #ebebeb 5.8%, #ebebeb 100%);
}

.sidebar-wrapper {
  width: 201px;
  margin-left: auto;
  margin-right: 65px;
  padding-left: 20px;
}

.checkbox-label {
  display: block;
}

.filters-wrapper {
  padding-left: 15px;
}

.filters-name {
  display: block;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  color: #000;
}

.bluetooth-label {
  display: block;
}

.shop {
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
  width: 72%;
}

.sorting,
.items-grid  {
  padding-left: 72px;
  margin-left: 0;
}

.items-grid {
  width: 760px;
}

.item-wrapper {
  display: inline-block;
}

.item-wrapper:nth-child(2n+2) {
  margin-left: 37px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
  margin-left: 72px;
  padding: 29px 30px 27px 30px;
  background-color: #ebebeb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85px;
  margin-left: 15px;
}

.pagination-text {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.sorting {
  background-color: #ebebeb;
  margin-bottom: 69px;
}

.catalog-subtitle {
  display: inline-block;
  padding-top: 28px;
  padding-bottom: 30px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.sorting-controls {
  display: inline-block;
  margin-left: 55px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  color: #000;
}

.sorting-label {
  margin-right: 30px;
}

.filters-subtitle {
  display: block;
  background-color: #dbdbdb;
}

.price {
  margin-top: 82px;
}

.color {
  margin-top: 122px;
}

.color-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 180px;
}

.checkbox-label {
  padding-left: 39px;
  position: relative;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  left: -20px;
  background-color: #dbdbdb;
  width: 25px;
  height: 25px;
}

.checkbox-label:hover .checkbox-label::before {
  background-color: #cecece;
}

.checkbox-label:active .checkbox-label::before {
  content: "";
  position: absolute;
  left: -20px;
  background-color: #cecece;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.checkbox-label.label-active::before {
  content: "";
  position: absolute;
  left: -20px;
  background-color: #dbdbdb;
  background-image: url(../img/icons/tick.png);
  background-position: 44% 44%;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.bluetooth-filter {
  margin-top: 167px;
  margin-bottom: 52px;
}

.item-img {
  display: block;
}

.item-desc {
  display: inline-block;
  vertical-align: top;
  width: 260px;
  height: 68px;
  margin-top: 37px;
  text-decoration: none;
  color: #000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
}

.item-price {
  display: inline-block;
  float: right;
  margin-top: 37px;
  vertical-align: top;
  text-decoration: none;
  color: #464646;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 100;
}

.footer-catalog {
  margin: 0;
}

h1 {
  margin: 0;
}

.page-header {
  width: 1040px;
  margin-top: 29px;
  margin-bottom: 47px;
  margin-left: auto;
  margin-right: auto;
}
