@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff');,
    src: url('../fonts/gilroylight.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff');
    src: url('../fonts/gilroyextrabold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff');
    src: url('../fonts/opensans.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensanslight.woff');
    src: url('../fonts/opensanslight.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #464646;
}

.catalog-body {
  width: 1440px;
}

/* Базовые стили */

.logo-img {
  transform: translateY(-50%);
  margin-bottom: 10px;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-weight: 100;
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  color: #000;
}

.title {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  font-weight: 900;
  color: #000;
}

.btn {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 900;
  padding: 12px 39px 12px 43px;
  letter-spacing: .2em;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.0) 40%, #F0C52E 40%, #F0C52E 60%, rgba(0, 0, 0, 0.0) 60%);
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

.btn:hover {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 900;
  padding: 12px 39px 12px 43px;
  letter-spacing: .2em;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  background: #F0C52E;
  box-sizing: border-box;
}

.btn:active {
  color: rgba(0,0,0,.3);
}

.radio {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  color: #000;
  line-height: 15px;
}

.radio-input {
  display: none;
}

.radio-label {
  cursor: pointer;
}

.checkbox-input {
  display: none;
}

/* Альтернативные стили (например, футер) */

.link-alt {

}


.container {
  width: 1160px;
  margin: auto;
  box-sizing: border-box;
}

.headers-wrapper {
  background-color: rgba(240,197,46,.5);
  padding: 0 60px;
  margin-top: 40px;
}

/* Первый хэдер */
.user-block {
  display: block;
  margin-bottom: 45px;
  margin-top: -10px;
}

.user-block-form {
  display: inline-block;
  margin-right: 60px;
  margin-left: 38px;
}

.search-input {
  display: inline-block;
  width: 440px;
  background: none;
  outline: none;
  box-shadow: none;
  border: 0;
  font-size: 15px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.3);
}

.search-input:focus {
  border-bottom: 2px solid black;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.login {
  display: inline-block;
  margin-right: 234px;
}

.compare {
  margin-right: 60px;
}

/* Навигация */

.main-navigation {
  padding-bottom: 58px;
  position: relative;
}

.catalog-menu {
  display: inline-block;
  margin-right: 318px;
}

.catalog-menu:hover + .catalog-menu-opened {
  display: flex;
}

.catalog-menu-opened {
  position: absolute;
  display: none;
  top: 52px;
  left: -60px;
  padding-left: 60px;
  z-index: 100;
  background-color: #F7E296;
  width: 1100px;
  height: 132px;
}

.cameras-menu {
  display: flex;
  flex-direction: flex-start;
  flex-grow: 0;
  flex-direction: column;
}

.watches-menu {
  display: flex;
  flex-direction: column;
  margin-left: 62px;
}

.copters-menu {
  display: flex;
  flex-direction: column;
  margin-left: 77px;
}

.catalog-menu-opened .link {
  height: 35px;
}

.delivery-menu {
  margin-right: 30px;
}

.assurance-menu {
  margin-right: 100px;
}

.info a {
  display: inline-block;
}

.info a:first-child {
  margin-right: 35px;
}

.catalog-menu,
.delivery-menu,
.assurance-menu,
.contacts-menu {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: #000;
  letter-spacing: .2em;
}

.main-navigation a:visited {
  color: #000;
}

/* Слайдер */

.slider {
  display: flex;
  margin-bottom: 90px;
  background: linear-gradient(to bottom, rgba(240,197,46,0.5) 0%,rgba(240,197,46,0.5) 21%,rgba(248,226,151,1) 15%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 100%);
}

.slider input {
  display: none;
}

.slider-img {
  margin-left: 90px;
  margin-top: -7px;
}

.slider::before {
  content: "";
  position: absolute;
  right: 42%;
  top: 264px;
  width: 100px;
  height: 7px;
  background-color: #fff;
}

.slider-desc {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 480px;
  margin-left: 127px;
  padding-top: 32px;
}

.first-slide::before {
  content: "01";
  font-size: 179px;
  font-family: Gilroy, sans-serif;
  font-weight: 900;
  position: absolute;
  color: #fff;
  right: -41px;
  top: -39px;
}

.second-slide {
  display: none;
}

.third-slide {
  display: none;
}


.slider-text {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  color: #464646;
  font-weight: 100;
  margin-top: -20px;
  margin-bottom: 40px;
  line-height: 30px;
}

.slider-heading {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  font-weight: 900;
  color: #000;
}

.features {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  width: 424px;
}

h2.features-heading {
  font-size: 36px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 100;
  margin-bottom: 0;
}

.features-desc {
  font-size: 13px;
  font-weight: 100;
}

.more-wrapper {
  display: flex;
  justify-content: space-between;
}

.slider-toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76px;
}

.toggle {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  border: 3px solid black;
}

/* Категории */

.categories {
  margin-bottom: 70px;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.categories-item {
  position: relative;
}

.categories-item img {
  position: absolute;
  width: auto;
  height: auto;
  padding: auto;
}

.item-image-wrapper {
  width: 160px;
  height: 160px;
  background-color: rgba(240,197,46,.5);
  position: relative;
}

.item-image-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-image-wrapper .sec-picture {
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-37px);
}

.item-text-wrapper {
  width: 160px;
}

.categories-list a {
  text-decoration: none;
}

.categories-heading {
  margin-top: 30px;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  color: #000;
}

/* Услуги */

.services {
  background-color: #e5e5e5;
}

.services-wrapper {
  display: flex;
  margin: 167px auto 94px;
  height: 288px;
}

.services-heading {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  color: #000;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
}

.services-names {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  font-family: Gilroy, sans-serif;
  letter-spacing: .2em;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  padding: 0 20px 0 0;
  transform: translateY(-14%);
  font-size: 18px;
}

.service-name {
  cursor: pointer;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 40%, #F0C52E 40%, #F0C52E 55%, rgba(0, 0, 0, 0.0) 55%);
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  width: 160px;
}

.service-name:hover {
  background: #F0C52E;
}

.services-names::after {
  content: "";
  left: 277px;
  top: -79px;
  position: absolute;
  width: 7px;
  height: 319px;
  background-color: #000;
}
.service-name:hover {

}

.service-name.active {
  color: #f7e184;
  background: #000;
  width: 277px;
  text-align: left;
  padding-left: 19px;
  box-sizing: border-box;
}

.services-text {
  width: 437px;
  margin-left: 104px;
}

.info-desc {
  margin: 0;
  line-height: 30px;
}

.services-desc {
  display: none;
}

input.service {
  display: none;
}

input:checked + .services-desc {
  display: flex;
  flex-direction: column;
}

/* Клиенты */

.clients-wrapper {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 79px;
}

/* Информация */
.contact-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-info p {
    line-height: 30px;
}

.companies-item {
  position: relative;
}

.companies-item::before {
  content: "";
  width: 4px;
  height: 4px;
  border: 3px solid black;
  border-radius: 50%;
  position: absolute;
  left: -40px;
  top: 14px;
  opacity: .3;
}

.about-us {
  flex-direction: column;
  width: 480px;
}

.about-us::before {
  content: "";
  display: inline-block;
  width: 87px;
  height: 7px;
  background-color: #000;
}


.pick-up {
  width: 480px;
  margin-right: 82px;
}

.about-us p:nth-child(3) {
  margin-top: 28px;
  margin-bottom: 30px;
 }
.pick-up::before {
  content: "";
  display: inline-block;
  width: 87px;
  height: 7px;
  background-color: #000;
}

.second-heading {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  font-weight: 900;
  color: #000;
}

.second-heading::before {
  content:"";
  width: 80px;
  height: 7px;
  color: #000;
}

.companies {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  line-height: 40px;
  list-style-type: none;
  margin-bottom: 77px;
}

.main-footer {
  background-color: #464646;
  padding: 59px 0;
  margin-top: 85px;
  height: 203px;
}

.first-row {
  margin-bottom: 40px;
}

.logo-alt .logo-alt-link {
  display: inline-block;
  font-family: 'Gilroy', sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #ffc600;
  line-height: 40px;
}

.footer-menu {
    display: inline-block;
    vertical-align: top;
    margin-left: 687px;
}

footer a {
  display: inline-block;
  text-decoration: none;
  font-weight: 100;
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  color: #fff;
}

.footer-menu a:nth-child(1) {
  margin-right: 63px;
}

.footer-menu a:nth-child(2) {
  margin-right: 64px;
}

.second-row {
  display: flex;
  justify-content: space-between;
}

.footer-navigation {
  display: flex;
  width: 428px;
  justify-content: space-between;
  margin-right: 37px;
}

.footer-navigation a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: #fff;
  letter-spacing: .2em;
}

.third-row {
  margin-top: 67px;
  position: relative;
}

.social {
  margin-left: 520px;
}

.third-row::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  top: 24%;
}

.academy-logo {
  display: inline-block;
}

.write-us.modal {
  display: none;
}

.modal-wrapper {
  background-color: #fff;
  width: 960px;
  height: 553px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}

.modal-input-wrapper {
  display: inline-block;
}

.modal-input-wrapper:nth-child(2) {
  margin-left: 34px;
}

.textarea-wrapper {
  margin-top: 28px
}

.modal-textarea {
  border: 0;
  width: 760px;
  height: 156px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 18px;
  background-color: #f2f2f2;
  margin-bottom: 55px;
}

.modal-input {
  border: 0;
  background-color: #f2f2f2;
  width: 340px;
  height: 50px;
  vertical-align: center;
  padding-left: 20px;
}

.modal-input-label {
  display: block;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  margin-bottom: 13px;
  color: #000;
}

/* catalog.html */

.breadcrumbs {
  width: 383px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.breadcrumbs-item {
  display: inline-block;
}

.content {
  display: flex;
}

.sidebar {
  display: inline-block;
  height: 1283px;
  background: linear-gradient(180deg, #dbdbdb 0%, #dbdbdb 5.8%, #ebebeb 5.8%, #ebebeb 100%);
}

.sidebar-wrapper {
  width: 201px;
  margin-left: 198px;
  margin-right: 68px;
}

.checkbox-label {
  display: block;
}

.filters-name {
  display: block;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  color: #000;
}


.bluetooth-label {
  display: block;
}

.shop {
  display: inline-block;
  height: 1210px;
}

.sorting,
.items-grid  {
  padding-left: 72px;
}

.item-wrapper {
  display: inline-block;
}

.item-wrapper:nth-child(2n+2) {
  margin-left: 37px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-left: 72px;
  padding: 29px 30px 27px 30px;
  background-color: #ebebeb;
  box-sizing: border-box;
}

.pagination-numbers {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 85px;
  margin-left: 15px;
}

.pagination-text {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.pagination-numbers > .pagination-text:last-child {
  text-align: right;
}

.sorting {
  background-color: #ebebeb;
  margin-bottom: 69px;
}

.catalog-subtitle {
  display: inline-block;
  padding-top: 28px;
  padding-bottom: 30px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.sorting-controls {
  display: inline-block;
  margin-left: 55px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  color: #000;
}

.sorting-label {
  margin-right: 30px;
}

.filters-subtitle {
  display: block;
  background-color: #dbdbdb;
}

.price {
  margin-top: 86px;
}

.color {
  margin-top: 57px;
}

.bluetooth-filter {
  margin-top: 58px;
  margin-bottom: 52px;
}

.item-img {
  display: block;
}

.item-desc {
  display: inline-block;
  vertical-align: top;
  width: 260px;
  height: 68px;
  margin-top: 37px;
  text-decoration: none;
  color: #000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
}

.item-price {
  display: inline-block;
  float: right;
  margin-top: 37px;
  vertical-align: top;
  text-decoration: none;
  color: #464646;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 100;
}

.footer-catalog {
  margin: 0;
}
