@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroylight.woff');
    src: url('fonts/gilroylight.woff2') format('woff2');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroyextrabold.woff');
    src: url('fonts/gilroyextrabold.woff2') format('woff2');
    font-weight: extrabold;
    font-style: normal;
}

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #464646;
}

.content-width {
  width: 1160px;
  margin: auto;
  box-sizing: border-box;
}

.headers-wrapper {
  background-color: rgba(240,197,46,.5);
  padding: 0 60px;
  margin-top: 40px;
}

.logo {
  display: block;
  margin-top: 21px;
  margin-bottom: 0;
  font-family: 'Gilroy', sans-serif;
  font-weight: 900;
  font-size: 48px;
  transform: translateY(-50%);
}
/* Первый хэдер */
.first-header {
  display: block;
  margin-bottom: 45px;
  margin-top: -10px;
}

.first-header a {
  display: inline-block;
  text-decoration: none;
  font-weight: 100;
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  color: #000;
}

.first-header form {
  display: inline-block;
  margin-right: 331px;
  margin-left: 38px;
}

.search-input {
  background: none;
  outline: none;
  box-shadow: none;
  border: 0;
  font-size: 15px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.3);
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-block {
  display: inline-block;
  margin-right: 234px;
}

.compare {
  margin-right: 60px;
}

/* Второй хэдер */

.second-header {
  padding-bottom: 58px;
}

.catalog-menu {
  display: inline-block;
  margin-right: 318px;
}

.delivery-menu {
  margin-right: 30px;
}

.assurance-menu {
  margin-right: 100px;
}

.info a {
  display: inline-block;
}

.info a:first-child {
  margin-right: 35px;
}

.second-header a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: #000;
  letter-spacing: .2em;
}

.second-header a:visited {
  color: #000;
}

/* Слайдер */

.slider {
  display: flex;
  margin-bottom: 90px;
  background: linear-gradient(to bottom, rgba(240,197,46,0.5) 0%,rgba(240,197,46,0.5) 21%,rgba(248,226,151,1) 15%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 100%);
}

.slider input {
  display: none;
}

.slider-img {
  margin-left: 90px;
  margin-top: -7px;
}

.slider::before {
  content: "";
  position: absolute;
  right: 42%;
  top: 264px;
  width: 100px;
  height: 7px;
  background-color: #fff;
}

.slider-desc {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin-left: 127px;
  padding-top: 32px;
}

.slider-desc::before {
  content: "01";
  font-size: 179px;
  font-family: Gilroy, sans-serif;
  font-weight: 900;
  position: absolute;
  color: #fff;
  margin-left: 328px;
  top: 194px;
}

.slider-text {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  color: #464646;
  font-weight: 100;
  margin-top: -20px;
  margin-bottom: 40px;
  line-height: 30px;
}

.slider-heading {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  font-weight: 900;
  color: #000;
}

.features {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  width: 424px;
}

h2.features-heading {
  font-size: 36px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 100;
  margin-bottom: 0;
}

.features-desc {
  font-size: 13px;
  font-weight: 100;
}

.more-wrapper {
  display: flex;
  justify-content: space-between;
}

.more {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 900;
  padding: 12px 39px 12px 43px;
  letter-spacing: .2em;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  background: linear-gradient(0deg, #ffffff 0%, #ffffff 40%, #F0C52E 40%, #F0C52E 60%, #ffffff 60%, #ffffff 100%);
  transition: all .2s ease;
  box-sizing: border-box;
}

.more:hover {
  background: #F0C52E;
}

.more:active {
  color: rgba(0,0,0,.3);
}

.slider-toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76px;
}

.toggle {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  border: 3px solid black;
}

/* Категории */

.categories {
  margin-bottom: 70px;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.categories-item {
  position: relative;
}

.categories-item img {
  position: absolute;
  width: auto;
  height: auto;
  padding: auto;
}

.item-image-wrapper {
  width: 160px;
  height: 160px;
  background-color: rgba(240,197,46,.5);
  position: relative;
}

.item-image-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-image-wrapper .sec-picture {
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-37px);
}

.item-text-wrapper {
  width: 160px;
}

.categories-list a {
  text-decoration: none;
}

.categories-heading {
  margin-top: 30px;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  color: #000;
}

/* Услуги */

.services {
  background-color: #e5e5e5;
}

.services-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top;
  margin: 167px 0 94px;
  height: 288px;
}

.services-heading {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  color: #000;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
}

.services-names {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  font-family: Gilroy, sans-serif;
  letter-spacing: .2em;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  width: 125px;
  text-align: center;
  padding: 0 20px 0 159px;
  transform: translateY(-7%);
  font-size: 18px;
}

.services-text {
  width: 437px;
  margin-left: 237px;
}

.services-text {
  width: 437px;
  margin-left: 237px;
}

.info-desc {
  margin: 0;
  line-height: 30px;
}

.services-desc {
  display: none;
}

input.service {
  display: none;
}

input:checked + .services-desc {
  display: flex;
  flex-direction: column;
}

/* Клиенты */

.clients-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 79px;
}

/* Информация */
.contact-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-info p {
    line-height: 30px;
}

.about-us {
  flex-direction: column;
  width: 480px;
}

.about-us::before {
  content: "";
  display: inline-block;
  width: 87px;
  height: 7px;
  background-color: #000;
}

.pick-up {
  width: 480px;
  margin-right: 82px;
}

.about-us p:nth-child(3) {
  margin-top: 28px;
  margin-bottom: 30px;
 }
.pick-up::before {
  content: "";
  display: inline-block;
  width: 87px;
  height: 7px;
  background-color: #000;
}

.second-heading {
  font-family: Gilroy, sans-serif;
  font-size: 47px;
  font-weight: 900;
  color: #000;
}

.second-heading::before {
  content:"";
  width: 80px;
  height: 7px;
  color: #000;
}

.contact-info a {
  flex-grow: 0;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  color: #000;
  letter-spacing: .2em;
  padding: 0 19px 0 22px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  background: linear-gradient(0deg, #ffffff 0%, #ffffff 30%, #F0C52E 30%, #F0C52E 70%, #ffffff 70%, #ffffff 100%);
}

.contact-info ul {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  line-height: 40px;
  list-style-type: none;
  margin-bottom: 77px;
}

footer {
  background-color: #464646;
  padding: 59px 0;
  margin-top: 94px;
}

.first-row {
  margin-bottom: 40px;
}

.logo-alt .logo-alt-link {
  display: inline-block;
  font-family: 'Gilroy', sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #ffc600;
  line-height: 40px;
}

.footer-menu {
    display: inline-block;
    vertical-align: top;
    margin-left: 687px;
}

footer a {
  display: inline-block;
  text-decoration: none;
  font-weight: 100;
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  color: #fff;
}

.footer-menu a:nth-child(1) {
  margin-right: 63px;
}

.footer-menu a:nth-child(2) {
  margin-right: 64px;
}

.second-row {
  display: flex;
  justify-content: space-between;
}

.footer-navigation {
  display: flex;
  width: 428px;
  justify-content: space-between;
  margin-right: 37px;
}

.footer-navigation a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: #fff;
  letter-spacing: .2em;
}
